@use "./antds/tabs.scss";
@use "./swiper.scss";
@use "./antds/splitter.scss";
@use "./antds/table.scss";

#tv-attr-logo {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.triangle::after {
  border: 4px solid #0000;
  border-top-color: #868993;
  content: "";
  margin-left: -1px;
  margin-top: -4px;
  position: absolute;
  top: 60%;
  right: -12px;
}

.triangle-button::after {
  border: 4px solid #0000;
  border-top-color: #868993;
  content: "";
  margin-left: -1px;
  margin-top: -4px;
  position: absolute;
  top: 60%;
  right: 32%;
}
