.ant-table {
  .ant-table-thead {
    .ant-table-cell.ant-table-column-has-sorters {
      
      .ant-table-column-sorter {
        display: none;
        position: relative;
      }

      &:hover {
        .ant-table-column-sorter {
          position: absolute;
          top: 18px;
          right: 10px;
          display: none;
        }
      }
    }
    .ant-table-column-sort {
      border-bottom: 3px solid #2770f5 !important;
      background: #fff !important;
    }
  }
}
